---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="src/styles/globals.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
		<title>Gaspar Giménez</title>
	</head>
	<body>
		<div class="w-full flex flex-col justify-start items-center bg-gray-800">
			<div class="w-full h-[25vh] flex flex-col justify-center items-start gap-4 bg-gray-900 rounded-br-full fixed">
				<div class="w-[40%] flex justify-center gap-4">
					<div>
						<img src="src/assets/perfil.jpeg" alt="perfil" class="w-48 h-48 rounded-full" />
					</div>
					<div class="flex flex-col justify-center">
						<h1 class="text-6xl text-white font-bold">Gaspar Giménez</h1>
						<h2 class="text-4xl text-white font-semibold"><span class="typing"></span></h2>
						<div class="w-[40%] flex justify-start items-center py-1 gap-2 rounded">
							<a href="mailto:gaspar.gimenez8@gmail.com" class="text-white text-lg underline">Email</a>
							<a href="https://www.linkedin.com/in/gaspar-gim%C3%A9nez-23b489207/?originalSubdomain=ar" class="text-white text-lg underline">LinkedIn</a>
		
						</div>
					</div>
				</div>
			</div>
			<div class="w-full h-[25vh] flex flex-col justify-center items-center">
				
			</div>
			<div class="w-full h-[80vh] flex flex-col justify-center items-center">
				
			</div>
		</div>
	


	<script>
		var typed = new Typed(".typing",{
			strings: ["IT Technician","Computers Science","Bravo CTO", "Fullstack Developer"],
			typeSpeed: 100,
			bacSpeed: 60,
			loop: true
		})
	</script>    
	</body>
</html>

