---
---

<div class="w-full overflow-hidden">
    <div class="flex animate-marquee space-x-8">
      <img src="next-js-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="laravel-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="mysql-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="git-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="docker-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="javascript-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="python-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="react-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="git-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="html5-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="csswizardry-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="github-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="javascript-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="html5-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <!-- Duplicate logos for infinite effect -->
      <img src="next-js-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="laravel-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="mysql-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="git-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="docker-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="javascript-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="python-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="react-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="git-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="html5-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="csswizardry-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="github-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="javascript-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
      <img src="html5-svgrepo-com.svg" alt="Logo 1" class="h-16 w-auto">
  </div>
  